.content {
  align-items: center;
  justify-content: center;
  color: white;
}
.profile-wrapper {
  align-items: center;
  margin-bottom: 50px;
  /* justify-content: center; */
}
.image-container {
  border: solid 1px white;
  border-radius: 10px;
  width: 80px;
  height: 80px;
}
.profile-name {
  margin-left: 30px;
}

/* CSS for the menu items */
.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  margin: 20px 0;
}

.menu-item:hover {
  background-color: #6577d22d;
}

.icon {
  margin-right: 30px;
}
.icon svg {
  width: 20px;
  height: 20px;
}
.text {
  flex: 1;
  font-weight: 500;
  font-size: 20px;
}
