<div class="contenter">
  <div class="profile-wrapper d-flex row">
    <div class="image-container">
      <img src="../../assets/profile-img.png" alt="" />
    </div>
    <div class="profile-name">
      <span>
        <strong class="admin-name">Smart Admin</strong>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="12"
          fill="currentColor"
          class="bi bi-caret-down-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
          />
        </svg>
      </span>
      <br />
      <span>TBFS</span>
    </div>
  </div>
  <div class="menu-list-wrapper">
    <ul class="menu-list">
      <li class="menu-item">
        <span class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-bounding-box"
            viewBox="0 0 16 16"
          >
            <path
              d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2zm6 1v2h2v6h-2v2H5v-2H3V5h2V3zm1-2h3v3h-3zm3 11v3h-3v-3zM4 15H1v-3h3zM1 4V1h3v3z"
            />
          </svg>
        </span>
        <span class="text">Home</span>
      </li>

      <li class="menu-item">
        <span class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-bounding-box"
            viewBox="0 0 16 16"
          >
            <path
              d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2zm6 1v2h2v6h-2v2H5v-2H3V5h2V3zm1-2h3v3h-3zm3 11v3h-3v-3zM4 15H1v-3h3zM1 4V1h3v3z"
            />
          </svg>
        </span>
        <span class="text">Reports</span>
      </li>

      <li class="menu-item">
        <span class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-bounding-box"
            viewBox="0 0 16 16"
          >
            <path
              d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2zm6 1v2h2v6h-2v2H5v-2H3V5h2V3zm1-2h3v3h-3zm3 11v3h-3v-3zM4 15H1v-3h3zM1 4V1h3v3z"
            />
          </svg>
        </span>
        <span class="text">Administration</span>
      </li>
      <li class="menu-item">
        <span class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-bounding-box"
            viewBox="0 0 16 16"
          >
            <path
              d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2zm6 1v2h2v6h-2v2H5v-2H3V5h2V3zm1-2h3v3h-3zm3 11v3h-3v-3zM4 15H1v-3h3zM1 4V1h3v3z"
            />
          </svg>
        </span>
        <span class="text">Connect</span>
      </li>
      <li class="menu-item">
        <span class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-bounding-box"
            viewBox="0 0 16 16"
          >
            <path
              d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2zm6 1v2h2v6h-2v2H5v-2H3V5h2V3zm1-2h3v3h-3zm3 11v3h-3v-3zM4 15H1v-3h3zM1 4V1h3v3z"
            />
          </svg>
        </span>
        <span class="text">Contact</span>
      </li>
    </ul>
  </div>

  <div class="subscription">
    <strong class="heading-sub">Subscribe For Updates</strong>
    <p class="sub-text">Sign Up to know what's happening</p>
    <button class="btn btn-primary btn-class" type="button">Subscribe</button>
    <div class="subscribe-image">
      <img src="../../assets/Work-at-Home-Illustration.jpg" alt="" />
    </div>
  </div>

  <div class="version-text">
    <p>APP Version 2.3.4 | API Version 1.0.1.1</p>
  </div>
</div>
