/* You can add global styles to this file, and also import other style files */
:root {
  --white: #ffffff;
  --yellow-500: #ffeb3b;
  --green-500: #4caf50;
  --blue-400: #42a5f5;
  --blue-500: #42a5f5;
  --yellow-400: #ffee58;
  --green-400: #66bb6a;
  --text-color-secondary: #00274e;
  --text-color: #cccccc;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #00274e;
}
.page-wrapper {
  padding: 60px 40px 20px 80px;
}
@media (max-width: 800px) {
  .page-wrapper {
    padding: 60px 20px 20px 30px;
  }
}
.p-0 {
  padding: 0;
}
