/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #00274e;
}
.page-wrapper {
  padding: 60px 40px 20px 80px;
}
@media (max-width: 800px) {
  .page-wrapper {
    padding: 60px 20px 20px 30px;
  }
}
.p-0 {
  padding: 0;
}
