<div class="content">
  <div class="container">
    <div class="upper-header">SMART</div>
    <div class="breadcrum">
      <span
        >Home / Administration /
        <span class="active-breadcrum"> Activity</span></span
      >
    </div>
    <div class="activites-wrapper row">
      <div class="left-side col-4">
        <p class="f-w-b p-0">Activities</p>
        <p class="p-0">Track The Activity Management</p>
      </div>
      <div class="right-side col-6">
        <div class="btn-wrap row">
          <button type="btn" class="btn mr-10 btn-left">View Activities</button>
          <button type="btn" class="btn btn-right">+ Create Activity</button>
        </div>
      </div>
    </div>

    <div class="card-wrapper">
      <app-card></app-card>
    </div>
  </div>
</div>
