.content {
  background-color: white;
  border-radius: 60px;
}
.container {
  padding: 40px;
}
.upper-header {
  font-weight: bold;
  font-size: 26px;
}
.breadcrum {
  margin: 30px 0;
}
.f-w-b {
  font-weight: bold;
  font-size: 18px;
}
.p-0 {
  padding: 0;
  margin: 0;
}
.active-breadcrum {
  color: #26b18e;
  font-weight: 500;
}
.activites-wrapper {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.left-side {
  flex: 1;
}
.btn-wrap {
  justify-content: end;
}
.mr-10 {
  margin-right: 10px;
}
.btn {
  font-size: 14px;
  padding: 7px 12px;
  margin: 8px 4px;
  width: 150px;
}
.btn-right {
  background-color: #00274e;
  color: white;
}
.btn-right:hover {
  background-color: #0f588b;
}
.btn-left {
  background-color: transparent;
  border: solid 1px black;
}
.card-wrapper {
  margin-top: 100px;
}

@media (max-width: 500px) {
  .activites-wrapper {
    display: block;
  }
  .left-side {
    font-size: 12px;
  }
}
.table-container {
  overflow-x: auto;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr th {
  background-color: #ccc;
}
table {
  border-radius: 20px;
}
th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 10px 0;
}

.btnn {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.btn-icon {
  width: 22px;
  height: 22px;
  stroke: grey;
}
.butn {
  background: transparent;
  border: none;
}

.page-link:link,
.page-link:visited {
  text-decoration: none;
  color: #343a40;
  font-size: 18px;
  height: 36px;
  width: 36px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contentwe {
  color: #343a40;
  line-height: 1;
  display: flex;
  padding: 0 0 0 40px;
}
.pie-chart {
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.p-element {
  width: 180px;
  height: 180px;
}
.p-element canvas {
  width: 200px;
  height: 200px;
}
.line-graph {
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.line-data {
  display: block;
  box-sizing: border-box;
  height: 207px !important;
  width: 211px;
}

.graph-wrapper,
.bar-graph-wrapper {
  margin: 50px 0 10px 0;
}
.graph-header {
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.drop-wrapper {
  background: transparent;
  color: black;
  width: 100px;
}
