<div class="content">
  <div class="container">
    <div class="upper-header">SMART</div>
    <div class="breadcrum">
      <span
        >Home / Administration /
        <span class="active-breadcrum"> Activity</span></span
      >
    </div>
    <div class="activites-wrapper row">
      <div class="left-side col-md-6 col-xl-4 col-sm-6">
        <p class="f-w-b p-0">Activities</p>
        <p class="p-0">Track The Activity Management</p>
      </div>
      <div class="right-side col-8 col-md-8 col-xl-8 col-sm-6">
        <div class="btn-wrap row">
          <button type="btn" class="btn mr-10 btn-left">View Activities</button>
          <button type="btn" class="btn btn-right">+ Create Activity</button>
        </div>
      </div>
    </div>

    <div class="card-wrapper">
      <app-card></app-card>
    </div>

    <!-- Highchart -->
    <div class="graph-wrapper">
      <div class="row">
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card">
            <div class="graph-header d-flex">
              <div><strong>Activity</strong></div>

              <div class="dropdown">
                <button
                  class="btn btn-secondary drop-wrapper dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Item 1</a>
                  <a class="dropdown-item" href="#">Item 2</a>
                  <a class="dropdown-item" href="#">Item 3</a>
                </div>
              </div>
            </div>
            <div class="pie-chart d-flex">
              <p-chart type="pie" [data]="data" [options]="options" />
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card">
            <div class="graph-header d-flex">
              <div><strong>Locations</strong></div>

              <div class="dropdown">
                <button
                  class="btn btn-secondary drop-wrapper dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Item 1</a>
                  <a class="dropdown-item" href="#">Item 2</a>
                  <a class="dropdown-item" href="#">Item 3</a>
                </div>
              </div>
            </div>
            <div class="line-graph d-flex">
              <p-chart
                styleClass="prime-slider-override"
                type="line"
                [data]="data1"
                [options]="options1"
              />
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card">
            <div class="graph-header d-flex">
              <div><strong>Measures</strong></div>

              <div class="dropdown">
                <button
                  class="btn btn-secondary drop-wrapper dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Item 1</a>
                  <a class="dropdown-item" href="#">Item 2</a>
                  <a class="dropdown-item" href="#">Item 3</a>
                </div>
              </div>
            </div>
            <div class="line-graph d-flex">
              <p-chart type="bar" [data]="data2" [options]="options2" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Table -->
    <div class="table-wrapper">
      <p>
        <strong>Activities Ending In Next 7 Days</strong>
      </p>
      <!-- <div class="navbar justify-content-between">
        <a class="navbar-brand">Navbar</a>
        <form class="form-inline">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
      </div> -->
      <div class="d-flex justify-content-between">
        <div>
          <div class="dropdown">
            <button
              class="btn btn-secondary drop-wrapper dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              select
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Item 1</a>
              <a class="dropdown-item" href="#">Item 2</a>
              <a class="dropdown-item" href="#">Item 3</a>
            </div>
          </div>
        </div>
        <div>
          <form class="form-inline">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>No.</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Age</th>
              <th>City</th>
              <th>Country</th>
              <th>Sex</th>
              <th>Example</th>
              <th>Example</th>
              <th>Example</th>
              <th>Example</th>
              <th>Example</th>
              <th>Example</th>
              <th>Example</th>
              <th>Example</th>
              <th>Example</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Anna</td>
              <td>Pitt</td>
              <td>35</td>
              <td>New York</td>
              <td>USA</td>
              <td>Female</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="pagination">
      <button class="butn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="btn-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </button>
      <a href="#" class="page-link page-link--current">1</a>
      <a href="#" class="page-link">2</a>
      <a href="#" class="page-link">3</a>
      <!-- <span class="dots">...</span>
      <a href="#" class="page-link">23</a> -->
      <button class="butn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="btn-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </button>
    </div>

    <div class="bar-graph-wrapper">
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="graph-header d-flex">
              <div><strong>Category</strong></div>

              <div class="dropdown">
                <button
                  class="btn btn-secondary drop-wrapper dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Item 1</a>
                  <a class="dropdown-item" href="#">Item 2</a>
                  <a class="dropdown-item" href="#">Item 3</a>
                </div>
              </div>
            </div>
            <div class="line-graph d-flex">
              <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="graph-header d-flex">
              <div><strong>Customer</strong></div>

              <div class="dropdown">
                <button
                  class="btn btn-secondary drop-wrapper dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Item 1</a>
                  <a class="dropdown-item" href="#">Item 2</a>
                  <a class="dropdown-item" href="#">Item 3</a>
                </div>
              </div>
            </div>
            <div class="line-graph d-flex">
              <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
